*{
    padding: 0px;
    margin: 0px;
}
html{
    font-family: 'Be Vietnam Pro', sans-serif;
    font-family: 'Comforter Brush', cursive;
    font-family: 'Estonia', cursive;
    font-family: 'Mukta', sans-serif;
    font-family: 'Poppins', sans-serif;
    font-family: 'Readex Pro', sans-serif;
}
header{
    padding: 1em;
    background-color: aquamarine;
    display: flex;
    justify-content: space-between;
}
header div a{
    text-decoration: none;
}
section{
    padding: 5em;
    background: aliceblue;
    display: grid;
    grid-template-columns: 50% 50%;
}
footer{
    padding: 1em;
    background-color: aquamarine;
    display: flex;
    justify-content: space-around;
}

@media screen and (max-width: 1100px) {
    header{
        background-color: cadetblue;
        font-size: small;
    }
    section{
        display: flex;
        flex-direction: column;
    }
    footer{
        background-color: cadetblue;
        font-size: small;
    }
}

@media screen and (max-width: 630px) {
    header{
        background-color: chartreuse;
        font-size: x-small;
    }
    section{
        display: flex;
        flex-direction: column;
        column-gap: 10em;
}
    .p{
        font-size: x-small;
}
    .mapa{
        width: 300px;
        height: 400px;
    }
    footer{
        background-color: chartreuse;
    }
}

@media screen and (max-width: 450px) {
    header {
        background-color: brown;
        font-size: xx-small;
        display: flex;
        flex-direction: column;
    }
    section {
        padding: 7em;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
    }
    .mapa{
        width: 150px; 
        height: 150px; 
    }
    footer {
        background-color: brown;
        font-size: xx-small;
    }
}